:root {
    --primary-color: #242526;
    --white-color: #18191a;
    --black-color: #fff;
    --red-color: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    /* transition: 500ms; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    font-family: "poppins";
}

body.dark {
    --primary-color: #242526;
    --white-color: #f2f2f2;
    --black-color: #18191a;
    --red-color: #e74c3c;
}

body .go-back-link {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 40px;
    height: 40px;
    left: -10px;
    margin: 0;
    background-color: var(--primary-color);
    padding: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
}

body .go-back-link:is(:hover, :focus-visible) {
    left: 3px;
    border-radius: 50%;
    transform: rotate(0);
}

body .go-back {
    margin: 0;
    font-size: 1rem;
    color: var(--red-color);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.container .clock {
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.2);
    position: relative;
}

.clock label {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.clock label:nth-child(1) {
    transform: rotate(30deg);
}

.clock label:nth-child(2) {
    transform: rotate(60deg);
}

.clock label:nth-child(3) {
    transform: rotate(90deg);
}

.clock label:nth-child(4) {
    transform: rotate(120deg);
}

.clock label:nth-child(5) {
    transform: rotate(150deg);
}

.clock label:nth-child(6) {
    transform: rotate(180deg);
}

.clock label:nth-child(7) {
    transform: rotate(210deg);
}

.clock label:nth-child(8) {
    transform: rotate(240deg);
}

.clock label:nth-child(9) {
    transform: rotate(270deg);
}

.clock label:nth-child(10) {
    transform: rotate(300deg);
}

.clock label:nth-child(11) {
    transform: rotate(330deg);
}

.clock label:nth-child(12) {
    transform: rotate(360deg);
}

.clock label span {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    color: var(--black-color);
    font-weight: 700;
}

.clock label:nth-child(1) span {
    transform: rotate(-30deg);
}

.clock label:nth-child(2) span {
    transform: rotate(-60deg);
}

.clock label:nth-child(3) span {
    transform: rotate(-90deg);
}

.clock label:nth-child(4) span {
    transform: rotate(-120deg);
}

.clock label:nth-child(5) span {
    transform: rotate(-150deg);
}

.clock label:nth-child(6) span {
    transform: rotate(-180deg);
}

.clock label:nth-child(7) span {
    transform: rotate(-210deg);
}

.clock label:nth-child(8) span {
    transform: rotate(-240deg);
}

.clock label:nth-child(9) span {
    transform: rotate(-270deg);
}

.clock label:nth-child(10) span {
    transform: rotate(-300deg);
}

.clock label:nth-child(11) span {
    transform: rotate(-330deg);
}

.clock label:nth-child(12) span {
    transform: rotate(-360deg);
}

.circle {
    background-color: var(--black-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--red-color);
    box-shadow: 0px 0px 10px var(--red-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 5;
}

.clock .hour,
.mint,
.sec {
    transform-origin: bottom;
    position: absolute;
    border-radius: 300px;
}

.hour {
    width: 5px;
    height: 80px;
    top: -70px;
    left: 7.5px;
    background-color: var(--black-color);
}

.mint {
    width: 4px;
    height: 110px;
    top: -99px;
    left: 7.5px;
    background-color: var(--black-color);
}

.sec {
    width: 2px;
    height: 120px;
    top: -109px;
    left: 9.5px;
    background-color: var(--red-color);
    box-shadow: 0px 0px 5px var(--red-color);
}

.btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--black-color);
    color: var(--red-color);
    font-family: "poppins";
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    transition: 500ms;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

p {
    color: var(--black-color);
}

@media (max-width: 540px) {

    .container .clock {
        width: 300px;
        height: 300px;
    }

    .hour {
        width: 5px;
        height: 70px;
        top: -60px;
        left: 7.5px;
        background-color: var(--black-color);
    }

    .mint {
        width: 4px;
        height: 95px;
        top: -92px;
        left: 7.5px;
        background-color: var(--black-color);
    }

    .sec {
        width: 2px;
        height: 110px;
        top: -100px;
        left: 9.5px;
        background-color: var(--red-color);
        box-shadow: 0px 0px 5px var(--red-color);
    }

}

@media (max-width: 700px) {

    body .go-back-link {
        width: 20px;
        height: 20px;
        left: 0px;
        border-radius: 0;
        border-bottom-right-radius: 50%;
        transform: rotate(0);
        z-index: 999;
        top: 0px;
        transform: translateX(0);
    }

    body .go-back-link:is(:hover, :focus-visible) {
        top: 5px;
        left: 5px;
        transform: scale(1.1);
    }

}