* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: loader 1s ease alternate;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: crimson;
}

body {
    font-family: "poppins";
    background-color: rgb(37, 37, 37);
    color: crimson;
    scroll-behavior: smooth;
    transition: .5s ease;
    /* animation: loader 1s ease alternate; */
    /* user-select: none; */
}

.navbar .nav_ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px;
    font-size: 1.5rem;
    transition: .5s ease;
    /* border:1px solid red; */
}

.navbar .nav_ul .nav_logo {
    font-family: "Rougbelt";
    letter-spacing: 1px;
    position: relative;
    margin-right: auto;
}

.navbar .nav_ul .nav_logo::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: crimson;
    bottom: .5rem;
    right: -1rem;
}

.navbar .nav_ul .nav_logo::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: crimson;
    border-radius: 150px;
    bottom: -5px;
    left: 0px;
    transition: .5s ease;
}

.navbar .nav_ul .nav_logo:hover::before {
    width: 100%;
}

.bigDevice {
    display: flex;
}

.bar {
    cursor: pointer;
    position: relative;
    top: -300px;
    font-size: 1rem;
    transition: .5s ease;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger {
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    padding: 50px 50px;
    border-radius: 10px;
    transition: .5s ease;
    position: absolute;
    right: 50px;
    top: -300px;
    /* top:50px; */
    z-index: 100;
        animation: hamburger 1s ease alternate;
}

.bigDevice li {
    color: crimson;
    /* border:1px solid red; */
    /* padding:10px; */
    margin: 0px 10px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
}

.hamburger li a {
    color: crimson;
    /* border:1px solid red; */
    /* padding:10px; */
    margin: 0px 10px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
}

.hamburger li a:after,
.bigDevice li a:after {
    content: "";
    width: 0%;
    height: 5%;
    border-radius: 15%;
    background-color: crimson;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: .5s ease;
}

.hamburger li a:hover::after,
.bigDevice li a:hover::after {
    width: 100%;
}

.hamburger li a i {
    color: crimson;
    margin-right: 5px;
}


/*                   <----------|    About Section    |---------->                      */


.about {
    /* width: 100vw; */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    cursor: pointer;
    color: crimson;
    margin-bottom: 50px;
    border-bottom: 3px solid crimson;
    transition: .5s ease;
}

.about_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    transition: .5s ease;
}

.about .logo {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    /* overflow: hidden; */
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: .5s ease;
}

.about .logo:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, red, transparent, red, transparent,
            red, transparent, red, transparent, red, transparent, red,
            transparent, red, transparent, red, transparent, red, transparent,
            red, transparent, red, transparent, red) no-repeat center center/cover;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-position: 400% 400%;
    background-size: 150%;
    z-index: -1;
    animation: glow 10s linear infinite;
    transition: all .5s ease;
}

@keyframes glow {

    0%,
    100% {
        background-position: -300% -300%;
    }

    50% {
        background-position: 400% 400%;
    }
}

.about .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about .content {
    width: 400px;
    color: crimson;
    /* border: 1px solid red; */
    height: 400px;
    font-size: 1.3rem;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.about .content span {
    color: #fff;
    margin-right: 10px;
}

.about .exp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: left;
}

.about .exp h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .5s ease;
}

label {
    border: 1px solid red;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 5px;
    transition: .5s ease;
    font-size: 1.3rem;
    transition: .5s ease;
    font-weight: bold;
    cursor: pointer;
}

label:hover {
    color: #212121;
    background-color: crimson;
    box-shadow: 0px 0px 20px crimson;
}

label:hover {
    color: #fff;
    transform: translateY(-10px);
}

.about .exp label {
    width: calc(50% - 10px);
    text-align: center;
}

.about .exp label:last-child {
    width: 100%;
}

@media screen and (max-width:600px) {

    .navbar .nav_ul {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    .bar {
        top: 0px;
    }

    .bigDevice {
        display: none;
    }

    .hamburger {
        right: 0px;
    }

    .hamburger li a {
        color: crimson;
        margin: 0px;
        position: relative;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 420px) {
    .about .logo {
        width: 280px;
        height: 280px;
    }

    label {
        font-size: 1rem;
    }

    .about .content {
        font-size: 1rem;
    }

    .about .exp h2 {
        font-size: 1.5rem;
    }

    /* .about .content {
        width: 80%;
        justify-content: center;
    } */
}

@media screen and (max-width: 316px) {
    .about h1 {
        font-size: 1.3rem;
    }

    .navbar .nav_ul {
        padding: 0px 10px;
    }

    .hamburger {
        padding: 30px 30px;
        right: 10px;
    }

    .about .logo {
        width: 200px;
        height: 200px;
    }

    .about .content {
        font-size: .7rem;
        margin: 0px;
    }

    .about .exp h2 {
        margin: 0px;
        font-size: 1rem;
        letter-spacing: 3px;
    }

    label {
        font-size: .6rem;
    }
}

@media screen and (max-width: 225px) {
    .hamburger {
        padding: 20px 20px;
        right: 10px;
    }
}

@keyframes loader {
    0%{
        /* transform: translateY(-500px) */
        transform: scale(0.9);
    }

    100%{
        /* transform: translateY(0); */
        transform: scale(1);        
    }
}

@keyframes hamburger {
    0%{
        top: -600px;
    }

    100%{
        top: -300px;
    }
}