* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        animation: loader 1s ease alternate;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: crimson;
}

body {
    font-family: "poppins";
    background-color: rgb(37, 37, 37);
    color: crimson;
    scroll-behavior: smooth;
    user-select: none;
    transition: .5s ease;
    /* animation: loader 1s ease alternate; */
}


/*              -----   Navbar Section  -----                */

.navbar .nav_ul {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px;
    font-size: 1.5rem;
    transition: .5s ease;
    /* border:1px solid red; */
}

.navbar .nav_ul .nav_logo {
    font-family: "Italianno";
    letter-spacing: 1px;
    position: relative;
    margin-right: auto;
}

.navbar .nav_ul .nav_logo::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: crimson;
    bottom: .5rem;
    right: -1rem;
}

.navbar .nav_ul .nav_logo::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: crimson;
    border-radius: 150px;
    bottom: -5px;
    left: 0px;
    transition: .5s ease;
}

.navbar .nav_ul .nav_logo:hover::before {
    width: 100%;
}

.bigDevice {
    display: flex;
}

.bar {
    cursor: pointer;
    position: relative;
    top: -300px;
    font-size: 1rem;
    transition: .5s ease;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger {
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    padding: 50px 50px;
    border-radius: 10px;
    transition: .5s ease;
    position: absolute;
    right: 50px;
    top: -300px;
    /* top:50px; */
    z-index: 100;
        animation: hamburger 1s ease alternate;
}

.bigDevice li {
    color: crimson;
    /* border:1px solid red; */
    /* padding:10px; */
    margin: 0px 10px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
}

.hamburger li a {
    color: crimson;
    /* border:1px solid red; */
    /* padding:10px; */
    margin: 0px 10px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
}

.hamburger li a:after,
.bigDevice li a:after {
    content: "";
    width: 0%;
    height: 5%;
    border-radius: 15%;
    background-color: crimson;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: .5s ease;
}

.hamburger li a:hover::after,
.bigDevice li a:hover::after {
    width: 100%;
}

.hamburger li a i {
    color: crimson;
    margin-right: 5px;
}

/*          </>----|| Hero Section ||----</>          */

.hero {
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero .box {
    /* border: 1px solid red; */
    /* width: 600px; */
    width: 80vw;
}

.hero .box .heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    /* border:1px solid red; */
    background-color: #2d2d2d;
    border-radius: 5px;
    padding: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: .5s ease;
}

.hero .box a {
    display: block;
    background-color: #2d2d2d;
    border-radius: 1px;
    padding: 10px;
    margin: 15px 0px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s ease;
}

.hero .box a:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px #1d1d1d;
}

.hero .box a span {
    color: crimson;
    margin-right: 10px;
}

@media screen and (max-width:600px) {

    .navbar .nav_ul {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    .bar {
        top: 0px;
    }

    .bigDevice {
        display: none;
    }

    .hamburger {
        right: 0px;
    }

    .hamburger li a {
        color: crimson;
        margin: 0px;
        position: relative;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media screen and (max-width:340px) {

    .navbar .nav_ul {
        padding: 0px 20px;
    }

    .hero .box .heading {
        font-size: 1.2rem;
    }

    .hamburger {
        padding: 30px 30px;
        right: 44px;
    }
}

@media screen and (max-width:226px) {
    .navbar .nav_ul {
        padding: 0px 10px;
    }

    .navbar .nav_ul .nav_logo {
        font-size: .6em;
    }

    .hamburger {
        width: 100%;
        height: 100%;
        padding: 30px 30px;
        top:-500px;
        right: 5px;
        align-items: center;
        top:-600px;
    }

    .hero .box .heading {
        font-size: 1rem;
        letter-spacing: 4px;
    }

        .hero .box .heading {
        font-size: .8rem;
        letter-spacing: 0px;
    }

    .hero .box a {
        font-size: .6em;
}
}

@keyframes loader {
    0%{
        /* transform: translateY(-500px) */
        transform: scale(0.9);
    }

    100%{
        /* transform: translateY(0); */
        transform: scale(1);        
    }
}

@keyframes hamburger {
    0%{
        top: -600px;
    }

    100%{
        top: -300px;
    }
}