* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #8b90ff;
    --base-color: #f2f4f8;
    --surface-color: #fff;
    --text-color: #191b23;
    --secondary-text-color: #3c404f;
    --base-transparent-90: rgba(247, 247, 247, 0.9);
    --base-transparent-100: rgba(247, 247, 247, 1)
}

.dark-theme {
    --brand-color: #8b90ff;
    --base-color: #1e1f26;
    --surface-color: #2c2f38;
    --text-color: #f0f0f0;
    --secondary-text-color: #b0b3c0;
    --base-transparent-90: rgba(30, 31, 38, 0.9);
    --base-transparent-100: rgba(30, 31, 38, 1)
}

body {
    font-family: "poppins";
    background-color: var(--base-color);
}

a {
    text-decoration: none;
}

header .go-back-link {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 40px;
    height: 40px;
    left: -10px;
    margin: 0;
    background-color: var(--brand-color);
    padding: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
}

header .go-back-link:is(:hover, :focus-visible) {
    left: 1px;
    border-radius: 50%;
    transform: rotate(0);
}

header .go-back {
    margin: 0;
    font-size: 1rem;
    color: var(--base-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    color: var(--text-color);
    transition: .2s ease;
}

header div .add-note-btn {
    background-color: var(--brand-color);
    outline: none;
    border: none;
    border: 1px solid var(--base-transparent-90);
    padding: 10px;
    border-radius: 5px;
    color: var(--base-transparent-90);
    transition: .2s ease;
    cursor: pointer;
}

header div .add-note-btn:hover,
.dialog-content .dialog-actions .save-btn:hover,
.dialog-content .dialog-actions .cancel-btn:hover,
.empty-state .add-note-btn:hover {
    cursor: pointer;
    background-color: #777efa;
    color: var(--base-transparent-100);
}

header div .theme-toggle-btn {
    background-color: var(--surface-color);
    outline: none;
    border: none;
    border: 1px solid var(--base-transparent-90);
    padding: 9px;
    border-radius: 5px;
    transition: .2s ease;
    color: var(--text-color);
    cursor: pointer;
}


header div .theme-toggle-btn:hover {
    background-color: var(--brand-color);
}


#noteDialog {
    width: 300px;
    height: 300px;
    border: none;
    outline: none;
    padding: 10px 0px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--surface-color);
    transition: .5s ease;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    height: 100%;
    color: var(--text-color);
}

.dialog-content .dialog-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px;
    width: 100%;
}

.dialog-content .dialog-header h2 {
    font-size: 1rem;
}

.dialog-content .dialog-header .close-btn {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
}

.dialog-content #noteForm {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-content .form-group {
    width: 100%;
    /* border: 1px solid red; */
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.dialog-content .form-group label {
    font-size: .8rem;
    font-weight: bold;
}

.dialog-content .form-group .form-input {
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s ease;
    border: none;
    outline: none;
    border: 1px solid var(--surface-color);
    background-color: var(--base-color);
    color: var(--text-color);
}

.dialog-content .form-group .form-input:hover,
.dialog-content .form-group .form-input:focus {
    border: 1px solid var(--brand-color);
}

.dialog-content .form-group .form-textarea {
    padding: 5px 10px;
    font-family: "poppins";
    background-color: var(--base-color);
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--base-color);
    color: var(--text-color);
    transition: .2s ease;
}

.dialog-content .form-group .form-textarea:hover,
.dialog-content .form-group .form-textarea:focus {
    border: 1px solid var(--brand-color);
}

.dialog-content .dialog-actions {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
}

.dialog-content .dialog-actions .cancel-btn {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--brand-color);
    color: var(--base-transparent-90);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.dialog-content .dialog-actions .save-btn {
    padding: 5px 10px;
    background-color: var(--brand-color);
    color: var(--base-transparent-90);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease;
}

.notes-grid {
    margin: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note-card {
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--surface-color);
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: .5s ease;
}

.note-card .note-actions {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: .5s ease;
}

.empty-state {
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 10px;
    background-color: var(--surface-color);
    color: var(--text-color);
}

.empty-state .add-note-btn {
    background-color: var(--brand-color);
    color: var(--base-transparent-90);
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    left: 25%;
    transition: .2s ease;
}

.note-card .note-title {
    font-size: 1rem;
    color: var(--text-color);
}

.note-card .note-content {
    font-size: .8rem;
    color: var(--secondary-text-color);
}

.note-card .edit-btn,
.note-card .Delete-btn {
    color: var(--base-color);
    background-color: var(--brand-color);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: 10px;
}


.note-card .add-note-btn {
    color: var(--surface-color);
    background-color: var(--brand-color);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}


@media (max-width: 280px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        margin-block: 20px;
        margin-inline: 5px; 
        color: var(--text-color);
        transition: .2s ease;
    }

}


@media (max-width: 380px) {

    .logo {
        font-size: 1.2rem;
    }

    header div .add-note-btn {
        background-color: var(--brand-color);
        outline: none;
        border: none;
        border: 1px solid var(--base-transparent-90);
        padding: 5px;
        border-radius: 5px;
        color: var(--base-transparent-90);
        transition: .2s ease;
        cursor: pointer;
    }

    header div .theme-toggle-btn {
        background-color: var(--surface-color);
        outline: none;
        border: none;
        border: 1px solid var(--base-transparent-90);
        padding: 4px;
        border-radius: 5px;
        transition: .2s ease;
        color: var(--text-color);
        cursor: pointer;
    }

    .empty-state {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .empty-state p {
        font-size: .8rem;
    }

    .empty-state .add-note-btn {
        position: static;
    }


}


@media (max-width: 1200px) {

    header .go-back-link {
        border-radius: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: rotate(0);
    }

}