:root {
    --primary-color: #f44336;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', 'sans-serif';
}

a {
    text-decoration: none;
}

/* <----||------------------------||-----> */
/* <----||   <---| Header |--->   ||-----> */
/* <----||------------------------||-----> */

.header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(eduford_img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

body .go-back-link {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 40px;
    height: 40px;
    left: -10px;
    margin: 0;
    background-color: var(--primary-color);
    padding: 10px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
    z-index: 999;
}

body .go-back-link:is(:hover, :focus-visible) {
    left: 3px;
    border-radius: 50%;
    transform: rotate(0);
}

body .go-back-link .go-back {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
    transform: scale(1);
    transition: .5s ease-in-out;
}

nav .nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

nav .nav-links ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 13px;
}

nav .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background: var(--primary-color);
    transition: .3s ease;
}

nav .nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}


.text-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    color: #fff;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 14px;
    margin: 10px 40px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    transition: .3s ease-in-out;
    text-transform: uppercase;
}

.btn:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}



/* <----||------------------------||-----> */
/* <----||   <---| Course |--->   ||-----> */
/* <----||------------------------||-----> */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .3s ease;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course-col:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}



/* <----||------------------------||-----> */
/* <----||   <---| Campus |--->   ||-----> */
/* <----||------------------------||-----> */


.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 100%;
    display: block;
}

.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .3s ease;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .3s ease;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* <----||------------------------||-----> */
/* <----|| <---| Facilities |---  ||-----> */
/* <----||------------------------||-----> */

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* <----||------------------------||-----> */
/* <----|| <---|Testimonial|--->  ||-----> */
/* <----||------------------------||-----> */

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: #f44336;
}


/* <----||------------------------||-----> */
/* <----||   <---|Contact|--->    ||-----> */
/* <----||------------------------||-----> */

.cta {
    margin: 100px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.cta::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(eduford_img/banner2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -11;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* <----||------------------------||-----> */
/* <----||    <---|Footer|--->    ||-----> */
/* <----||------------------------||-----> */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab {
    color: #f44336;
    cursor: pointer;
    transition: .3s ease;
}

.icons .fab:hover {
    transform: translateY(-2px);
}

/* <---- ||-------------------------||-----> */
/* <---- || <---| Media Query |---> ||-----> */
/* <---- ||-------------------------||-----> */

@media screen and (max-width:700px) {


    body .go-back-link {
        border-radius: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: rotate(0);
    }



    .text-box h1 {
        font-size: 20px;
    }

    .text-box p {
        font-size: 12px;
    }

    .nav-links ul li {
        display: block;
        text-align: left;
        width: 100%;
    }

    .nav-links {
        position: absolute;
        background: var(--primary-color);
        height: 100vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transform: scale(0);
    }


    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .row {
        flex-direction: column;
    }

    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }

    .cta h1 {
        font-size: 24px;
    }

}